{{#form-for model}}
  {{input first_name placeholder="Enter your first name"}}
  {{input last_name placeholder="Enter your last name"}}  
  {{input user.username label="Username" placeholder="Your username"}}
  <button {{action "kiss"}} class="small">Kiss Me!</button>
  <button {{action "submit" model}} class="small">Save</button>
{{/form-for}}